@import '~office-ui-fabric-react/dist/sass/References.scss';

.worldClocks {
  overflow: hidden;
  padding: 0;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 2fr);
  gap: 10px;
  grid-template-rows: minmax(5px, auto);
  text-align: center; 
}

.title {
  font-size: 12px;
  font-weight:bold;
  text-align: center;
  text-overflow: none;
  width: auto;
}

.digitalClock {
  padding: 10px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}